body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #4C230A;
}

button {
    background: none;
    color: #CCC9A1;
    border: 2px solid;
    padding: 1em 2em;
    font-family: 'Roboto Mono';
    font-size: 1em;
}